* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
}

/* Header style */
.nav-content {
    display: flex;
    justify-content: space-between;
    margin: 50px 166px 48px 150px;
}

nav h3 {
    font-size: 28px;
    font-weight: 800;
    align-content: center;
    line-height: 33px;
}

.btn-resume {
    padding: 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(13, 19, 33);
}

/* banner style  */

.banner-container {
    height: 652px;
    margin: 0 auto;
    background-image: url(/image/hero-bg.png);
}

.banner-content {
    width: 998px;
    height: 582px;
    margin: 26px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 240.28px;
    height: 240px;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.banner-title {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    margin-top: 32px;
    line-height: 68px;
}

.banner-details {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 28px;
}

.btn-Contact {
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* Why Web Development?? style  */
.web-development-border {
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.web-development-container {
    width: 946px;
    height: 1233px;
}

.web-development-text {
    width: 852px;
    height: 113px;
    margin: 0 auto;
}

.web-development-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.web-development-subtitle {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* I will Do Coding and Change The World style */
.first-container {
    width: 946px;
    height: 336px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin-bottom: 32px;
    margin-top: 48px;
}

.first-section {
    width: 850px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.first-section-left {
    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-section-right {
    width: 274.17px;
    height: 240px;
}

.first-section-title {
    font-size: 24px;
    font-weight: 700;
}

.first-section-details {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;

}

.btn-learn-more {
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 48px;
}

/* I will help People by creating Modern Web System */
.second-container {
    width: 946px;
    height: 336px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin-bottom: 32px;
}

.second-section {
    width: 850px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    gap: 48.8px;

}

.second-section-left {
    width: 240px;
    height: 240px;


}

.second-section-right {
    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-section-title {
    font-size: 24px;
    font-weight: 700;
}

.second-section-details {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;

}

/* I will Do Coding and Change The World 3rd section style */

.third-container {
    width: 946px;
    height: 336px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.third-section {
    width: 850px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.third-section-left {
    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.third-section-right {
    width: 240px;
    height: 240px;
}

.third-section-title {
    font-size: 24px;
    font-weight: 700;
}

.third-section-details {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

/* My Inspiration Style  */
.inspiration-container {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 151px;
}

.inspiration-text {
    width: 852px;
    height: 113px;
}

.inspiration-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.inspiration-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.video-container {
    width: 1140px;
    height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.video-container iframe {
    width: 1076px;
    height: 550px;
    border-radius: 16px;
}

/* My Current Target style  */
.current-target {
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.current-target-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.current-target-detail {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.box {
    width: 1140px;
    height: 299px;
    display: flex;
    justify-content: space-between;


}

.box-border-html {
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.box-img {
    width: 56px;
    height: 56px;
}

.box-title {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
}

.box-details {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;

}

.learn-more {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
}
.box-border-css {
    width: 364px;
    height: 299px;
    border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.box-border-js {
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}