* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
}

/* Header style */
.nav-content {
    display: flex;
    justify-content: space-between;
    margin: 50px 166px 48px 150px;
    border: 2px solid red;

}

nav h3 {
    font-size: 28px;
    font-weight: 800;
    align-content: center;
    line-height: 33px;
}

.btn-resume {
    padding: 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(13, 19, 33);
}

/* banner style  */

.banner-container {
    height: 652px;
    border: 2px solid red;
    margin: 0 auto;
    background-image: url(/assets/Hero-bg.png);

}

.banner-content {
    width: 998px;
    height: 582px;
    border: 2px solid red;
    margin: 26px auto;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
}



.banner-title {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight:bolder;
    text-align: center;
    margin-top: 32px;
    line-height: 68px;
}

.banner-details {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 28px;
}

.btn-Contact {
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}